.searchbox {
  /* border: 1px solid red; */
  width: 706px;
  height: 43px;
  margin: 1px;
  margin-left: 11px;
  display: flex;
  border-radius: 5px;
}
.searchboxs {
  width: 706px;
  height: 43px;
  margin: 1px;
  margin-left: 11px;
  display: flex;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgb(255 153 0 / 50%);
  -moz-box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgba(255, 153, 0, 0.5);
  box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgb(255 153 0 / 50%);
}

.select {
  width: 55px;
  height: 45px;
  /* border: 1px solid red; */
  /* margin: 6px 0px 6px 10px; */
  border-radius: 5px 0px 0px 5px;
  margin: 0px;
}

.select select {
  width: 55px;
  height: 40px;
  margin: 2px 0px 0px 0px;
  border-radius: 5px 0px 0px 5px;
}

/* .select select:focus {
  outline: 2px solid orange;
} */

.search {
  /* border: 1px solid red; */
  width: 650px;
  height: 45px;
  display: inline-flex;
}

.search input {
  width: 650px;
  height: 40px;
  margin: 2px 0px 0px 0px;
  outline: none;
}

/* .search input:focus {
  outline: 2px solid orange;
} */

.SearchIcon {
  position: relative;
  width: 55px;
  height: 40px;
  /* border: 1px solid red; */
  margin: 2px 0px 0px 0px;
  border-radius: 0px 5px 5px 1px;
  background-color: #febd68;
}
#sbtn {
  position: absolute;
  top: 10px;
  /* align-items: center; */
  /* justify-content: center; */
  left: 14px;
  font-size: 22px;
  color: black;
}
