.localShop {
  width: 96.3%;
  height: 285px;
  /* border: 1px solid black; */
  margin: 15px;
  padding: 0px 0px 0px 15px;
  background-color: white;
}

.localShop h1 {
  font-size: 21px;
  display: inline-block;
}

.localShop a {
  margin-left: 10px;
  font-size: 14px;
  color: #007185;
}

.carpet {
  display: flex;
  width: 99%;
  height: 200px;
  /* border: 1px solid black; */
}

.carpet img {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  object-fit: contain;
  cursor: pointer;
}
